.team {
    padding: 40px;
    margin: 10px;
    border: 1px solid #d3e0e9;
    text-align: center;
}
.player-listing {
    margin-top: 20px;
}
.temp-players li {
   background: #efefef;
}

a > span.glyphicon {
    font-size: 1.3em;
}
